In [0]:
my_data= [(1,2),
(2, 1),
(3, 1),
(4, 2),
(5, 1),
(6, 2),
(7, 2)]

In [0]:
my_schema=['id', 'num']

In [0]:
df=spark.createDataFrame(data=my_data,schema=my_schema)

In [0]:
df.show()

+---+---+
| id|num|
+---+---+
|  1|  2|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
employee_df=spark.read.format("csv")\
.option("header", "true")\
.option("inferschema", "true")\
.option("mode","PERMISSIVE")\
.load("/FileStore/tables/employee-1.csv")
employee_df.show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.select("name").show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
employee_df.select(col("name")).show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
employee_df.select(col("id")+5).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
+--------+

In [0]:
employee_df.select("id","name").show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Manish|
|  2|  Nikita|
|  3|  Pritam|
|  4|Prantosh|
|  5|  Vikash|
+---+--------+

In [0]:
employee_df.select(col("id"),col("name")).show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Manish|
|  2|  Nikita|
|  3|  Pritam|
|  4|Prantosh|
|  5|  Vikash|
+---+--------+

In [0]:
employee_df.select("id",col("name"), employee_df["salary"], employee_df.address).show()

+---+--------+------+------------+
| id|    name|salary|     address|
+---+--------+------+------------+
|  1|  Manish| 75000|       bihar|
|  2|  Nikita|100000|uttarpradesh|
|  3|  Pritam|150000|   Bangalore|
|  4|Prantosh|200000|     Kolkata|
|  5|  Vikash|300000|        null|
+---+--------+------+------------+

expression

In [0]:
employee_df.select(expr("id +5")).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
+--------+

In [0]:
employee_df.select(expr("id as employee_id"), expr("name as employee_name"), expr("concat(name,address)")).show()

+-----------+-------------+---------------------+
|employee_id|employee_name|concat(name, address)|
+-----------+-------------+---------------------+
|          1|       Manish|          Manishbihar|
|          2|       Nikita|   Nikitauttarpradesh|
|          3|       Pritam|      PritamBangalore|
|          4|     Prantosh|      PrantoshKolkata|
|          5|       Vikash|                 null|
+-----------+-------------+---------------------+

spark sql

In [0]:
employee_df.createOrReplaceTempView("employee_tbl")

In [0]:
spark.sql("""
          select * from employee_tbl
          """).show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
spark.sql("""
          select id,name from employee_tbl
          """).show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Manish|
|  2|  Nikita|
|  3|  Pritam|
|  4|Prantosh|
|  5|  Vikash|
+---+--------+

Transformation in pyspark

In [0]:
employee_df.select(col("id").alias("employee_id"),"name").show()

+-----------+--------+
|employee_id|    name|
+-----------+--------+
|          1|  Manish|
|          2|  Nikita|
|          3|  Pritam|
|          4|Prantosh|
|          5|  Vikash|
+-----------+--------+

In [0]:
employee_df.filter(col("salary")>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address| nominee|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
employee_df.where(col("salary")>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address| nominee|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
employee_df.filter((col("salary")>150000) & (col("age")<18)).show()

+---+--------+---+------+-------+-------+
| id|    name|age|salary|address|nominee|
+---+--------+---+------+-------+-------+
|  4|Prantosh| 17|200000|Kolkata|  India|
+---+--------+---+------+-------+-------+

In [0]:
employee_df.select('*', lit('Pandey').alias("last_name")).show()

+---+--------+---+------+------------+--------+---------+
| id|    name|age|salary|     address| nominee|last_name|
+---+--------+---+------+------------+--------+---------+
|  1|  Manish| 26| 75000|       bihar|nominee1|   Pandey|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|   Pandey|
|  3|  Pritam| 22|150000|   Bangalore|   India|   Pandey|
|  4|Prantosh| 17|200000|     Kolkata|   India|   Pandey|
|  5|  Vikash| 31|300000|        null|nominee5|   Pandey|
+---+--------+---+------+------------+--------+---------+

In [0]:
employee_df.withColumn("surname",lit("tiwari")).show()

+---+--------+---+------+------------+--------+-------+
| id|    name|age|salary|     address| nominee|surname|
+---+--------+---+------+------------+--------+-------+
|  1|  Manish| 26| 75000|       bihar|nominee1| tiwari|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2| tiwari|
|  3|  Pritam| 22|150000|   Bangalore|   India| tiwari|
|  4|Prantosh| 17|200000|     Kolkata|   India| tiwari|
|  5|  Vikash| 31|300000|        null|nominee5| tiwari|
+---+--------+---+------+------------+--------+-------+

In [0]:
new_employee_id=employee_df.withColumnRenamed("id", "employee_id")

In [0]:
new_employee_id.show()

+-----------+--------+---+------+------------+--------+
|employee_id|    name|age|salary|     address| nominee|
+-----------+--------+---+------+------------+--------+
|          1|  Manish| 26| 75000|       bihar|nominee1|
|          2|  Nikita| 23|100000|uttarpradesh|nominee2|
|          3|  Pritam| 22|150000|   Bangalore|   India|
|          4|Prantosh| 17|200000|     Kolkata|   India|
|          5|  Vikash| 31|300000|        null|nominee5|
+-----------+--------+---+------+------------+--------+

In [0]:
employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.withColumn("id",col("id").cast("float"))\
            .withColumn("salary",col("salary").cast("long"))\
            .printSchema()

root
 |-- id: float (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: long (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.drop("id",col("name")).show()

+---+------+------------+--------+
|age|salary|     address| nominee|
+---+------+------------+--------+
| 26| 75000|       bihar|nominee1|
| 23|100000|uttarpradesh|nominee2|
| 22|150000|   Bangalore|   India|
| 17|200000|     Kolkata|   India|
| 31|300000|        null|nominee5|
+---+------+------------+--------+

Transformation in Spark SQL

In [0]:
spark.sql("""
          select id AS employee_id,"Pandey" as last_name, concat(name,last_name) as full_name,cast(salary as float) from employee_tbl where salary > 150000 and age <18
          """).show()

+-----------+---------+--------------+--------+
|employee_id|last_name|     full_name|  salary|
+-----------+---------+--------------+--------+
|          4|   Pandey|PrantoshPandey|200000.0|
+-----------+---------+--------------+--------+